[submodule "static/lib/d3plugins"]
	path = static/lib/d3plugins
	url = https://github.com/d3/d3-plugins.git
[submodule "static/lib/d3-cloud"]
	path = static/lib/d3-cloud
	url = https://github.com/jasondavies/d3-cloud.git
[submodule "static/lib/parallel-coordinates"]
	path = static/lib/parallel-coordinates
	url = https://github.com/syntagmatic/parallel-coordinates.git
