/*  Less Framework 4
  http://lessframework.com
  by Joni Korpi
  License: http://opensource.org/licenses/mit-license.php */
/*	Resets   */
/* apply a natural box layout model to all elements */
/* from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html {
  -webkit-font-smoothing: antialiased;
}
pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */

  word-wrap: break-word;
  /* IE */

}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
a img {
  border: 0;
}
/*	Color variables
	------------------	*/
/* Highlight color, when user selects text */
/* Link color, hover/visited will be generated from this */
/* Selection colours (easy to forget) */
::selection {
  background: #fff9a2;
}
::-moz-selection {
  background: #fff9a2;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #fff9a2;
}
em {
  background: rgba(255, 249, 162, 0.5);
}
/*	Typography presets
	------------------	*/
.huge,
h1 {
  color: #000000;
  font-size: 3.75em;
  line-height: 1.1em;
  letter-spacing: -1px;
  font-weight: 800;
  margin-bottom: 18px;
}
.large,
h2 {
  color: #141414;
  font-size: 2.75em;
  line-height: 2em;
  font-weight: 800;
  line-height: 1.5em;
  margin-bottom: 8px;
}
.bigger,
h3 {
  color: #1a1a1a;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: 800;
  margin: 8px 0;
}
.big,
h4 {
  color: #212121;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  margin: 8px 0;
}
.small,
small {
  opacity: 0.8;
  font-size: 0.7em;
  line-height: 1.2em;
}
@media only screen and (max-width: 767px) {
  .huge,
  h1 {
    font-size: 2.5em;
    line-height: 1.1em;
    margin-bottom: 12px;
  }
  .large,
  h2 {
    color: #141414;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 800;
    line-height: 1.4em;
    margin-bottom: 6px;
  }
  .bigger,
  h3 {
    color: #1a1a1a;
    font-size: 1.75em;
    line-height: 1.2em;
    font-weight: 800;
    margin: 6px 0;
  }
  .big,
  h4 {
    color: #212121;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 700;
    margin: 8px 0;
  }
}
p {
  margin: 0.6em 0;
}
/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
html,
#container {
  height: 100%;
  width: 100%;
}
body {
  font: normal 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1.45em;
  font-size: 1.3em;
  width: 100%;
  padding: 32px 48px 84px;
  background: #e6e6e6;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */

  margin-left: auto;
  margin-right: auto;
}
a:link {
  color: #112582;
  -webkit-transition: all 0.24s ease-in-out;
  -moz-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
a:hover {
  color: #0b1855;
}
a:visited {
  color: #08123e;
}
section {
  margin: 12px 0;
}
section:last-child {
  margin-bottom: 0;
}
#title {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5em;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 0.8em;
  text-align: center;
}
#title h1 {
  display: inline-block;
  font-size: 32px;
  color: white;
  margin: 0 1ex;
  vertical-align: middle;
  position: fixed;
  left: 6px;
  top: .3em;
}
#title section {
  display: inline-block;
}
#title button {
  display: inline-block;
  font-size: 0.7em;
  box-shadow: none;
  margin: 2px 1px;
}
#title #avatar {
  width: 1.75em;
  height: 1.75em;
  display: inline-block;
  vertical-align: middle;
  background-color: #CCC;
  border-radius: 16px;
  margin: 0 5px;
}
#title #login {
  position: fixed;
  right: 6px;
}
#display {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 2em;
  left: 0;
}
#panel {
  padding-top: 3.5em;
  width: 400px;
  min-width: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
}
#panel #files {
  z-index: 6;
  position: fixed;
  top: 2.9em;
  padding: 2px 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  background-color: rgba(245, 245, 245, 0.1);
  height: 2.2em;
  overflow-y: auto;
  width: 400px;
  overflow: hidden;
  background-color: transparent;
  /*background-color: #ebebeb;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(rgba(255, 255, 255, 0.16)));
  background-image: -webkit-linear-gradient(top, #ebebeb, rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(top, #ebebeb, rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(top, #ebebeb, rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(top, #ebebeb, rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(top, #ebebeb, rgba(255, 255, 255, 0.16));
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ebebeb', EndColorStr='#ffffff');
  -webkit-box-shadow: inset 0 -4px 1em 1px rgba(5, 5, 5, 0.3);
  /* Saf3.0+, Chrome */

  -moz-box-shadow: inset 0 -4px 1em 1px rgba(5, 5, 5, 0.3);
  /* FF3.5+ */

  box-shadow: inset 0 -4px 1em 1px rgba(5, 5, 5, 0.3);
  /* Opera 10.5, IE 9.0 */

}
#panel #file-list {
  height: 100%;
  width: 400px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
  font-size: 0.6em;
  padding-bottom: 6px;
  padding-right: 32px;
  margin-bottom: 10px;
}
#panel #file-list li {
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #CCC;
  padding: 2px 6px;
  line-height: 1.5em;
  border-radius: 4px;
  margin: 2px 1px;
  text-shadow: rgba(245, 245, 245, 0.5) 0px 1px 1px;
  /*background-color: #717071;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 112, 113, 0.72)), to(rgba(227, 226, 228, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(113, 112, 113, 0.72), rgba(227, 226, 228, 0.6));
  background-image: -moz-linear-gradient(top, rgba(113, 112, 113, 0.72), rgba(227, 226, 228, 0.6));
  background-image: -o-linear-gradient(top, rgba(113, 112, 113, 0.72), rgba(227, 226, 228, 0.6));
  background-image: -ms-linear-gradient(top, rgba(113, 112, 113, 0.72), rgba(227, 226, 228, 0.6));
  background-image: linear-gradient(top, rgba(113, 112, 113, 0.72), rgba(227, 226, 228, 0.6));
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#717071', EndColorStr='#e3e2e4');
}
#panel #file-list li.active-file {
  opacity: 1 !important;
  border: 1px solid black;
  font-weight: bold;
  /*background-color: #f8f7fa;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 247, 250, 0.6)), to(rgba(169, 168, 169, 0.73)));
  background-image: -webkit-linear-gradient(top, rgba(248, 247, 250, 0.6), rgba(169, 168, 169, 0.73));
  background-image: -moz-linear-gradient(top, rgba(248, 247, 250, 0.6), rgba(169, 168, 169, 0.73));
  background-image: -o-linear-gradient(top, rgba(248, 247, 250, 0.6), rgba(169, 168, 169, 0.73));
  background-image: -ms-linear-gradient(top, rgba(248, 247, 250, 0.6), rgba(169, 168, 169, 0.73));
  background-image: linear-gradient(top, rgba(248, 247, 250, 0.6), rgba(169, 168, 169, 0.73));
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#f8f7fa', EndColorStr='#a9a8a9');
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  /* Saf3.0+, Chrome */

  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  /* FF3.5+ */

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  /* Opera 10.5, IE 9.0 */

}
#panel #file-list #add-file {
  /*
      position: fixed;
      top: @titleheight + 0.4em;
      right: 6px;
      */

  width: 32px;
  text-align: center;
}
#panel #file-list .filetype-js {
  background-color: #0CADE4;
}
#panel #file-list .filetype-css {
  background-color: #F5660A;
}
#panel #file-list .filetype-json {
  background-color: #FFB913;
}
#panel #file-list .filetype-html {
  background-color: #F6066B;
}
#panel #file-list .filetype-coffeescript {
  background-color: #CDE338;
}
#panel #config {
  z-index: 6;
  padding: 12px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(10, 10, 10, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
  width: 400px;
  text-align: center;
}
#code {
  margin-top: 2.9em;
  padding-top: 5em;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
  overflow-x: auto;
}
#code .CodeMirror {
  height: 100%;
}
#code .toolbar {
  font-size: 11px;
}
#code .toolbar.hidden {
  display: none;
}
#code .settings {
  position: absolute;
  right: 2px;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*
  	body {
  		max-width: 712px;
  		width: 80%;
  		padding: 32px 28px 60px;
  		font-size: 1.1em;
  	}
  */
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /*
  	body {
  		width: 252px;
  		padding: 24px 34px 60px;
  
  		font-size: 1em;
  		line-height: 1.5em;
  	}
  */
  #title h1 {
    top: .2em;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*
  	body {
  		width: 436px;
  		padding: 8px 10px;
  	}
  */
}
/*
        Styling those forms / inputs

------------------------------------------------------------ */
label {
  color: black;
}
input,
textarea,
select {
  -webkit-appearance: none;
}
th {
  text-align: right;
}
button {
  opacity: 0.82;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  margin: 4px 8px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.55);
  -webkit-border-radius: 6px;
  outline: none;
  text-shadow: 0 2px 1px #FFF;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: linear-gradient(top, #ffffff, #d6d6d6);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#d6d6d6');
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
button:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 1;
  text-shadow: 0 2px 2px #FFF;
}
button:active {
  opacity: 0.9;
  border: 1px solid black;
  background-color: #ffffff;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#929292), to(#ffffff));
  background-image: -webkit-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -moz-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -o-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -ms-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: radial-gradient(50% 50%, #ffffff, #929292);
}
.small-button {
  padding: 2px 4px;
  font-size: 10px;
  text-shadow: 0 1px 1px #FFF;
}
input,
textarea,
select {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 4px 8px;
  font-size: 15px;
  line-height: 1.2em;
  width: 13em;
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 0.5em;
  outline: none;
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -moz-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -o-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -ms-linear-gradient(top, #ebebeb, #ffffff);
  background-image: linear-gradient(top, #ebebeb, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ebebeb', EndColorStr='#ffffff');
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
input:hover,
textarea:hover,
select:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
}
input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: linear-gradient(top, #ffffff, #d6d6d6);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#d6d6d6');
  text-shadow: 0 2px 1px #FFF;
}
@media only screen and (max-width: 767px) {
  input,
  textarea,
  select {
    width: 8em;
  }
}
input[type=text] {
  color: #5A5A5A;
}
input[type=text]:active,
input[type=text]:focus {
  color: black;
  background-image: none !important;
  background-color: white;
}
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  font-size: 15px;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
}
input[type=radio] {
  -webkit-border-radius: 2em;
  /* Make radios round */

}
input[type=submit] {
  opacity: 0.95;
  border: 3px solid rgba(0, 0, 0, 0.55);
  padding: 0.5em;
  margin: 4px 8px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 0.5em;
  outline: none;
  text-shadow: 0 2px 1px #FFF;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: linear-gradient(top, #ffffff, #d6d6d6);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#d6d6d6');
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
input[type=submit]:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
  border: 3px solid rgba(0, 0, 0, 0.8);
  text-shadow: 0 2px 2px #FFF;
}
input[type=submit]:active {
  opacity: 0.9;
  border: 3px solid black;
  background-color: #ffffff;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#929292), to(#ffffff));
  background-image: -webkit-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -moz-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -o-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: -ms-radial-gradient(50% 50%, #ffffff, #929292);
  background-image: radial-gradient(50% 50%, #ffffff, #929292);
}
/*  Column class / mixins
  --------------------- */
.1-column {
  width: 68px;
}
.2-column {
  width: 160px;
}
.3-column {
  width: 252px;
}
.4-column {
  width: 344px;
}
.5-column {
  width: 436px;
}
.6-column {
  width: 528px;
}
.7-column {
  width: 620px;
}
.8-column {
  width: 712px;
}
.9-column {
  width: 804px;
}
.10-column {
  width: 896px;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
