#deltasvg {
    width: 100%; 
    height: 96%; 
}
#gui {
    position: fixed;
    top: 27px;
    left: 140px;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    z-index: 1000;
}

#play_button{
    display:block;
    visibility: visible;
    z-index: 14;
    cursor: pointer;
    text-align: center;
}

#bv_button{
    float:left;
    visibility: visible;
    z-index: 14;
    cursor: pointer;
    border: 0 !important;
    width: 40px;
    opacity: 0.6;
}
#bv_button:hover {
    opacity: 1;
}

/* delta time slider */
#time_slider {
    top:-30px;
    left:160px;
    visibility: visible;
    z-index: 14;
    width: 500px;
    height: 20px;
    -webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1); /* Saf3.0+, Chrome */
       -moz-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1); /* FF3.5+ */
            box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1); /* Opera 10.5, IE 9.0 */
    
}

#time_slider .ui-slider-handle {
    background: #CB336E;
    border: 0px solid black;
    width: 25px;
    margin-top: 6px;
    /*
    margin-left: 8px;
    margin-right: 8px;
    */
}


