#page-wrapper {
    font-size: 16px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 72px;
    
}
p {
    line-height: 1.5em;
}

#gallery img {
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent !important;
    opacity: 0.3;
    
    -webkit-transition:all .32s ease-out ;       
       -moz-transition:all .32s ease-out ;
         -o-transition:all .32s ease-out ;
            transition:all .32s ease-out ; 
}
#gallery img:hover {
    opacity: 1;
    -webkit-transition:all .65s ease-in-out .1s;       
       -moz-transition:all .65s ease-in-out .1s;
         -o-transition:all .65s ease-in-out .1s;
            transition:all .65s ease-in-out .1s; 
}
#gallery a:link {
    background-color: transparent !important;
}
#gallery a:hover, #gallery a:visited {
    text-decoration: none;
}
.gallerytext {
    opacity: 0.75;
    display: block;
    text-align: center;
    width: 435px;
    margin-left: auto;
    margin-right: auto;
}
a:link {
    text-decoration: none;
    font-weight: 600;
    color: black;
    background-color: rgba(0,0,0,0.07);
    padding: 0 4px;
    border-radius: 2px;
    -webkit-transition:all .5s ease-in-out .04s;       
       -moz-transition:all .5s ease-in-out .04s;
         -o-transition:all .5s ease-in-out .04s;
            transition:all .5s ease-in-out .04s; 
}
a:visited {
    opacity: 0.7;
    color: #484848;
    background-color: transparent !important;
}
a:hover {
    text-decoration: underline;
    background-color: transparent !important;
}
h1 {
    font-family: 'Alegreya', serif;
    font-size: 148px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    font-style: italic;
    font-weight: 900;
}
h3 {
    margin: 0;
    padding: 0;
}


#try {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#play {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#fork {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.intro {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;

}
.intro a {
    background-color: rgba(0,0,0,0);
}
.intro h3 {
    width: 2em;
    margin-left: auto;
    margin-right: auto;
}
.intro img {
    width: 200px;
    height: 150px;
}

#what {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

#wiki {
    display: inline-block;
    font-size: 24px;
    line-height: 34px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    
}

#who {
    width: 640px;
    display: inline-block;
    margin: 6px;
}
#where {
    width: 640px;
    display: inline-block;
    margin: 6px;
}


