#page {
    font-size: 16px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 72px;

}


#syncing {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


#gallery div {
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent !important;
    opacity: 0.3;
    
    -webkit-transition:all .32s ease-out ;       
       -moz-transition:all .32s ease-out ;
         -o-transition:all .32s ease-out ;
            transition:all .32s ease-out ; 
}
#gallery div:hover {
    opacity: 1;
    -webkit-transition:all .65s ease-in-out .1s;       
       -moz-transition:all .65s ease-in-out .1s;
         -o-transition:all .65s ease-in-out .1s;
            transition:all .65s ease-in-out .1s; 
}
#gallery a:link {
    background-color: transparent !important;
}
#gallery a:hover, #gallery a:visited {
    text-decoration: none;
}
