

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
/*        width: 712px; */
/*        padding: 48px 28px 60px; */
        padding-top: 50px;
    }
    #page {
        width: 100%;
    }
    #header {
/*        font-size: 14px; */
        height: 50px;
        padding: 10px 5px;
        top: 0;
        /*background-color: #212121;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1.00)), to(rgba(0, 0, 0, 0.91)));
        background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -o-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -ms-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#000000');
        
    }
    #header #branding {
        position: static;
        display: inline-block;
        margin-right: 8px;
    }
    #header button {
        margin-top: 5px;
    }
    #gist_info {
        margin-left: 48px;
    }
    #loggedin {
        margin-left: 48px;
    }

    #datgui {
        top: 50px;
    }
    
}



/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
    
    body {
        width: 100%;
/*        width: 252px; */
/*        padding: 48px 34px 60px; */
    }
    #page {
        width: 100%;
    }
    #header {
/*        font-size: 14px; */
        height: 50px;
        padding: 10px 5px;
        top: 0;
        /*background-color: #212121;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1.00)), to(rgba(0, 0, 0, 0.91)));
        background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -o-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -ms-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#000000');

    }
    #header #branding {
        position: static;
        display: inline-block;
        margin-right: 8px;
    }
    #header button {
        margin-top: 5px;
    }
    #gist_info {
        margin-left: 28px;
    }
    #loggedin {
        margin-left: 28px;
    }
 
    #save_gui {
        top: 14px;
     /*   right: 288px;*/
        right: 5px;
    }
    /* move datGUI over */
    #datgui {
        top: 50px;
    }
    #save_gui button{
        font-size: 11px !important;
        padding: 2px 4px;
    }
}



/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
/*        width: 436px; */
        width: 100%;
/*        padding: 36px 22px 48px; */
    }
    
}

