
    #page {
        width: 100%;
    }
    #header {
/*        font-size: 14px; */
        height: 50px;
        padding: 10px 5px;
        top: 0;
        /*background-color: #212121;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1.00)), to(rgba(0, 0, 0, 0.91)));
        background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -o-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -ms-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#000000');
        
    }
    #header #branding {
        position: static;
        display: inline-block;
        margin-right: 8px;
    }
    #header button {
        margin-top: 5px;
    }
    #gist_info {
        margin-left: 48px;
    }
    #loggedin {
        margin-left: 48px;
    }

    #datgui {
        top: 50px;
    }
    
}