body {
        font-family: 'Ubuntu', Helvetica, Georgia, serif !important;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	background: #EFEFEF; 
/*    	background: #E3E3E3; */
    	color: black;
    	font-size: 13px;
    }
    #page {
/*    	position: absolute; */
    	height: 100%;
    	width: 100%;
    }

    #display {
    	height: 10%;
    	width: 100%;
    	background: white;
    }

    svg {
    	position: absolute;
    	background: #FFF;
/*    	
    	border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
    	border-top-right-radius: 40px 10px;
    	border-bottom-right-radius: 40px 10px;
*/
/*    	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	-webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
*/
    }

