body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    height: 100%;
}
#header a:link, #header a:hover, #header a:visited {
    color: white;

}
#header:hover #branding {
    top: 6px;
    background-color: rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: inset 0px 0px 5px 0px     rgba(0,0,0,0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}

#header {
    background-color: rgba(0,0,0,0.8);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    color: white;

    position: fixed;
    top: -36px;

     -webkit-transition: all .4s ease-in-out;  /* Saf3.2+, Chrome */
     -moz-transition:    all .4s ease-in-out;  /* FF4+ */
       -o-transition:    all .4s ease-in-out;  /* Opera 10.5+ */
          transition:    all .4s ease-in-out;
}
#header:hover {
    top: 0;
}
#header #branding {
    -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.4); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow:         inset 0px 1px 8px 1px rgba(0,0,0,0.4); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

    text-shadow: 0px 2px 0px rgba(0,0,0,0.8); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;

    letter-spacing: 0.15em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    top: 46px;
    position: absolute;
    margin-right: 48px;
    -webkit-transition:  all .8s ease-in;  /* Saf3.2+, Chrome */
     -moz-transition:    all .8s ease-in;  /* FF4+ */
       -o-transition:    all .8s ease-in;  /* Opera 10.5+ */
          transition:    all .8s ease-in;
}
#save_gui {
    position: absolute;
    right: 320px;
    top: 6px;
}
#gist_info {
    display: inline-block;
    margin-left: 148px;
}
#display {
    
}
#editor {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}
#editor_handle {
    position: fixed; 
    display: block; 
    float: left; 
    bottom: 12px; 
    right:  12px; 
    width: 24px; 
    height: 24px; 
    background-color: rgba(50, 250, 50, 0.398438); 
    z-index: 999; 
}

button {
    border-radius: 6px;
    padding: 4px 12px;
    margin-right: 8px;
}