/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://opensource.org/licenses/mit-license.php */


/*  Resets
    ------  */
    
/* apply a natural box layout model to all elements */
/* from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*we don't do it for colorpicker*/
#ColorPicker, #ColorPicker input, #ColorPicker canvas, #ColorPicker div {
     -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


body {
    background: rgb(232,232,232);
    color: rgb(60,60,60);
    font-family: 'Open Sans', Helvetica, sans-serif;
    z-index: -99999;

    width: 100%;
    height: 100%;
    position:absolute;
    bottom:0px;
    top:0px;
    overflow:hidden;

    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


#page {
    width: 100%;
    height: 100%;
}

#display {
    float:left;
}

.tb_panel {
    position: relative;
    background-color: #262626;
    float:left;
    min-width: 260px;
    padding-top: 4px;
}
.panel {
    background-color: #262626;
}
.tb_panelfiles_gui {
    height: 31px !important;
    background-color: #262626;
    float: right;
    padding-top:4px;
    border-bottom: 2px solid #505050;
}
.tb_panel_gui {
    float:right;
    background-color: #383838;
    right: 0px;

    position:fixed;
    bottom:0px;
    
    border-top: 2px solid #999;
    padding-bottom: 4px;
}
.pb {
    width: 58px;
    height: 25px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    display:inline-block;
    padding: 4px 4px;
    margin: 0 3px;
    color: #fff;
    background-color: #595959;
    color: #BABABA;
    font-weight: bold;
    text-transform: capitalize;
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; 
    
    float: right;   
    
    /*background-color: #404041;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 64, 65, 1.00)), to(rgba(8, 8, 8, 0.75)));
    background-image: -webkit-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -moz-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -o-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -ms-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#404041', EndColorStr='#080808');
    
    border: 1px solid black;
    
    opacity: 0.5;
    
    -webkit-transition:all .85s ease-out ;       
       -moz-transition:all .85s ease-out ;
         -o-transition:all .85s ease-out ;
            transition:all .85s ease-out ; 
            
            

}
.pb:hover {
    opacity: 0.85;
    

    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(27, 27, 27)), to(rgb(59, 59, 60)));
    background-image: -webkit-linear-gradient(top, rgb(27, 27, 27), rgb(59, 59, 60));
    background-image: -moz-linear-gradient(top, rgb(27, 27, 27), rgb(59, 59, 60));
    background-image: -o-linear-gradient(top, rgb(27, 27, 27), rgb(59, 59, 60));
    background-image: -ms-linear-gradient(top, rgb(27, 27, 27), rgb(59, 59, 60));
    background-image: linear-gradient(top, rgb(27, 27, 27), rgb(59, 59, 60));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1b1b1b', EndColorStr='#3b3b3c');
    
    -webkit-transition:all .28s ease-out ;       
       -moz-transition:all .28s ease-out ;
         -o-transition:all .28s ease-out ;
            transition:all .28s ease-out ;
}
.gui_active {
    opacity: 1;
    
    color: #D5D5D5;
    
    text-shadow:rgba(10, 10, 10, 0.62) 0 1px 3px; 
    
    /*background-color: #080808;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.75)), to(rgba(64, 64, 65, 1.00)));
    background-image: -webkit-linear-gradient(top, rgba(8, 8, 8, 0.75), rgba(64, 64, 65, 1.00));
    background-image: -moz-linear-gradient(top, rgba(8, 8, 8, 0.75), rgba(64, 64, 65, 1.00));
    background-image: -o-linear-gradient(top, rgba(8, 8, 8, 0.75), rgba(64, 64, 65, 1.00));
    background-image: -ms-linear-gradient(top, rgba(8, 8, 8, 0.75), rgba(64, 64, 65, 1.00));
    background-image: linear-gradient(top, rgba(8, 8, 8, 0.75), rgba(64, 64, 65, 1.00));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#080808', EndColorStr='#404041');
    
    
    border-top: 1px solid #999;

}

/*
#require-ui {
    position: absolute;
    bottom: 0;
    left: 0;
}
*/
.config div{
    text-align: right;
}

.config input {
    background-color: black;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 4px;
    color: white;
    outline: none;
}
.config input:active {
    border: 1px solid black;
}

.tb_controls {
    padding: 16px;
    text-align: center;
    position: fixed;
    bottom: 12px;
    left: 12px;
/*    width: 298px; */
/*    height: 72px; 
    overflow: auto; */
    border-radius: 4px;
    
    background-color: rgba(210,210,215,0.38);
}
.tb_controls button {
    margin: 0 6px;
}

/* the draggable handle for resizing the panel */
.tb_panel_handle {
    display:block;
    width: 5px;
    height: 100%;
    background-color:#262626;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position:absolute;
    cursor: ew-resize;
}

.tb_hide-panel {
    z-index: 99999;
    position: absolute;
    margin-top: 6px;
}
.tb_hide-panel-button {
    width: 32px;
    height: 18px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    display:inline-block;
    padding: 1px 2px;
    margin: 0 3px;
    color: #fff;
    background-color: #595959;
    color: #BABABA;
    font-weight: bold;
    text-transform: capitalize;
    
    border-radius: 4px;
    
    /*float: right;   */
    
    /*background-color: #404041;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 64, 65, 1.00)), to(rgba(8, 8, 8, 0.75)));
    background-image: -webkit-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -moz-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -o-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -ms-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#404041', EndColorStr='#080808');
    
    border: 1px solid black;
    
    opacity: 0.5;
}
.tb_hide-panel-button:hover {
    opacity: 1;
    background-color: #2f2f30;
    background-image: -webkit-gradient(radial, 50% 100%,0,50% 100%,200, from(rgb(34, 34, 34)), to(rgb(47, 47, 48)));
    background-image: -webkit-radial-gradient(50% 100%, rgb(47, 47, 48), rgb(34, 34, 34));
    background-image: -moz-radial-gradient(50% 100%, rgb(47, 47, 48), rgb(34, 34, 34));
    background-image: -o-radial-gradient(50% 100%, rgb(47, 47, 48), rgb(34, 34, 34));
    background-image: -ms-radial-gradient(50% 100%, rgb(47, 47, 48), rgb(34, 34, 34));
    background-image: radial-gradient(50% 100%, rgb(47, 47, 48), rgb(34, 34, 34));
    color: #858585;
    
}

#show-codepanel {
    display: inline-block;
}

/* 4 constituents of the panel */
.tb_edit{
    width: 100%;
    height: 100%;
}
.error {
    border-right: 2px solid red !important;
}

/*
#controls{
    width: 100%;
    height: 100%;
}
*/
.tb_config {
    width: 100%;
    /*height: 100%;*/
    overflow-y: auto;
}
.config {
    padding: 8px 6px;
    margin: 6px;
    color: #fff;
    
    border-radius: 4px;
    
    -webkit-transition:all .22s linear ;       
       -moz-transition:all .22s linear ;
         -o-transition:all .22s linear ;
            transition:all .22s linear ; 
}
.config:hover {
    cursor: pointer;
    
    background-color: #262626;
    background-image: -webkit-gradient(radial, 0% 0%,0,0% 0%,200, from(rgb(58, 58, 58)), to(rgb(38, 38, 38)));
    background-image: -webkit-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -moz-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -o-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -ms-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));

    -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.25); /* Saf3.0+, Chrome */
       -moz-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.25); /* FF3.5+ */
            box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.25); /* Opera 10.5, IE 9.0 */
}
.config .description {
    font-size: 10px;
}
.config .delete{
    font-size: 14px;
    /*float:right;*/
    margin-right: 24px;
    padding: 3px;
    border-radius: 2px;
}
.config .delete:hover {
    font-size: 12px;
    background-color: #f00;
}



.config_active {
    
    border: 1px solid rgba(250,250,240,0.3);
    background-color: #424142;
    background-image: -webkit-gradient(radial, 0% 0%,0,0% 0%,200, from(rgb(30, 30, 30)), to(rgb(66, 65, 66)));
    background-image: -webkit-radial-gradient(0% 0%, rgb(66, 65, 66), rgb(30, 30, 30));
    background-image: -moz-radial-gradient(0% 0%, rgb(66, 65, 66), rgb(30, 30, 30));
    background-image: -o-radial-gradient(0% 0%, rgb(66, 65, 66), rgb(30, 30, 30));
    background-image: -ms-radial-gradient(0% 0%, rgb(66, 65, 66), rgb(30, 30, 30));
    background-image: radial-gradient(0% 0%, rgb(66, 65, 66), rgb(30, 30, 30));
    
    -webkit-box-shadow:0 0 3px 1px rgba(0,0,0,0.6); /* Saf3.0+, Chrome */
       -moz-box-shadow:0 0 3px 1px rgba(0,0,0,0.6); /* FF3.5+ */
            box-shadow:0 0 3px 1px rgba(0,0,0,0.6); /* Opera 10.5, IE 9.0 */
    
}
.config_title {
    font-size: 20px;
    color:#fff;
    margin: 5px;
}


.fullscreen {
    position: absolute;
    left: 0;
    top: 32px;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}



.tb_files {
    font-size: 10px;
    width: 100%;
    height: 100%;
    color: white !important;
}
.fv,.plus {
    opacity: 0.7;
    display: inline-block;
    padding: 2px 6px;
    
    float:left;
/*    width: 58px; */
    height: 25px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    display:inline-block;
    padding: 4px 4px;
    margin: 0 3px;
    color: #fff;
    color: #BABABA;
    font-weight: bold;
    
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; 
    
    /*background-color: #404041;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 64, 65, 1.00)), to(rgba(8, 8, 8, 0.75)));
    background-image: -webkit-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -moz-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -o-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: -ms-linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    background-image: linear-gradient(top, rgba(64, 64, 65, 1.00), rgba(8, 8, 8, 0.75));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#404041', EndColorStr='#080808');
    
    border: 1px solid black;
    
    -webkit-transition:all .2s ease-out ;       
       -moz-transition:all .2s ease-out ;
         -o-transition:all .2s ease-out ;
            transition:all .2s ease-out ;
    
}
.fv:hover {
    opacity: 1;
    
    
}
.plus input {
    width: 62px;
    color: white;
    background-color: transparent;
    outline: none;
    border: 0px solid transparent;
    border-bottom: 1px solid #999;
    padding:1px 4px;
}
.fv .input_error {
    border-bottom: 1px solid red;
}
/*
.fv {
    padding: 10px 8px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.fv:hover {
    background-color: #262626;
    background-image: -webkit-gradient(radial, 0% 0%,0,0% 0%,200, from(rgb(58, 58, 58)), to(rgb(38, 38, 38)));
    background-image: -webkit-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -moz-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -o-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -ms-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));

    -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65); 
       -moz-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65); 
            box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65); 
}
*/
.input_error {
    border: 4px solid #f00;
}

.editor {
    width: 100%;
    height: 100%;
}
.editor .CodeMirror {
    width: 100%;
    height: 100%;
}
.editor .CodeMirror-scroll {
    width: 100%;
    height: 100%;
}


.play {
    width: 70px;
}
/*
.CodeMirror .CodeMirror-scroll {
    background-color: rgba(8,8,8,0.80);
}
*/




#header a:link, #header a:hover, #header a:visited {
    color: white;

}

#header {
    background-color: #3a3a3a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(58, 58, 58)), to(rgb(38, 38, 38)));
    background-image: -webkit-linear-gradient(top, rgb(58, 58, 58), rgb(38, 38, 38));
    background-image: -moz-linear-gradient(top, rgb(58, 58, 58), rgb(38, 38, 38));
    background-image: -o-linear-gradient(top, rgb(58, 58, 58), rgb(38, 38, 38));
    background-image: -ms-linear-gradient(top, rgb(58, 58, 58), rgb(38, 38, 38));
    background-image: linear-gradient(top, rgb(58, 58, 58), rgb(38, 38, 38));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a3a3a', EndColorStr='#262626');

    
    padding-left: 24px;
    padding-right: 24px;
    padding-top:    6px;
    padding-bottom: 6px;
    width: 100%;
    height: 32px;


    font-size: 14px !important;
    color: white;
    z-index: 200; /*lay header on top of datgui */
    
    -webkit-transition:all .62s ease-out;       
       -moz-transition:all .62s ease-out;
         -o-transition:all .62s ease-out;
            transition:all .62s ease-out;
}
#header button {
    padding: 4px;
}

#header #branding {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    background-color: rgba(0,0,0,0.5);
    border-radius: 6px;

    top: 4px;
    background-color: rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: inset 0px 0px 5px 0px     rgba(0,0,0,0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

    letter-spacing: 0.15em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    margin-right: 48px;
}
#gist-title {
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    padding: 1px 4px;
    margin: 0 2px;
    outline: none;
    
    -webkit-transition:all .3s linear ;       
       -moz-transition:all .3s linear ;
         -o-transition:all .3s linear ;
            transition:all .3s linear ; 
}
#gist-title:hover {
    background-color: white;
    border-radius: 2px;
    color: black;

}

#gist-title a:link {
    text-decoration: none;
}


.dimheader {
    -webkit-transition:all .2s ease-out ;       
       -moz-transition:all .2s ease-out ;
         -o-transition:all .2s ease-out ;
            transition:all .2s ease-out ;
            
    background-image: none !important;
    background-color: transparent !important;
    color: black !important;
    
}
.dimheader a:link, .dimheader a:hover, .dimheader a:visited {
    color: black !important;
}
.dimheader:hover {
    opacity: 1;
}



#save_gui {
    position: absolute;
    right: 5px;
    /*right: 320px; */
    top: 6px;
}
#save_gui button{
    margin: 0 2px;;
    
}
#datgui {
 top: 10px;
}


#gui {
    padding: 12px;
    border-radius: 6px;
    position: fixed;
    bottom: 32px;
    left: 48px;
    padding-top: 10px;
    z-index: 1000;

    background-color: rgba(255,255,255,0.72);
    border: 1px solid rgba(0,0,0,0.35);
}



 
#gist_info {
    display: inline-block;
    margin-left: 148px;
}

#gist_info, #save_gui {
    opacity: 0.24;
    
    -webkit-transition:all .24s ease-out .22s;       
       -moz-transition:all .24s ease-out .22s;
         -o-transition:all .24s ease-out .22s;
            transition:all .24s ease-out .22s;
}
#gist_info:hover, #save_gui:hover {
    opacity: 1 !important;
}
#loggedin{
    display: inline-block;
    margin-left: 148px;
    font-size: 10px;
}

#panelgui .gui_active {
    opacity: 1 !important;
}

/*
.CodeMirror, .CodeMirror-scroll, .CodeMirror-gutter-text {
    font-size: 16px;
}
*/

.editor_handle {
    position: fixed; 
    display: block; 
    float: left; 
    bottom: 12px; 
    right:  12px; 
    width: 24px; 
    height: 24px; 
    background-color: rgba(50, 250, 50, 0.398438); 
    z-index: 999; 
}
.editor-topbar {
    font-size: 12px !important;
    color: white;
    background-color: rgba(0,0,0,0.75);
    padding: 8px 16px;
}
.editor-topbar input {
    margin-left: 20px;
    
}
.editor-topbar button {
    margin-left: 20px;
}

.coffee_check {
    margin-left: 30px;
}
.vim_check {
    margin-left: 30px;
}
.emacs_check {
    margin-left: 30px;
}

/* temp hide editors stuff */
#hideEditors {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}
.show_editor {
    float: left;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    padding: 8px;
    padding-top: 12px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,0.008);
    -webkit-transition:all .5s linear .05s;       
       -moz-transition:all .5s linear .05s;
         -o-transition:all .5s linear .05s;
            transition:all .5s linear .05s;
}



.button_on {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0 1px 0 #eee; }
.button_on:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
.button_on:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

/* DISABLED BUTTONS */
.off {
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #aaa;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0 1px 0 #eee; }
.button_off:hover {
    /*
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; 
    */
}
.button_off:active {
    /*
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
    */
}


#syncing {
/*    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display:none;
*/
width: 175px;
height: 17px;
position: absolute;
top: 8px;
right: 392px;
}



.lineerror {
  background: #A23232 !important;
  opacity: 0.1;
  border: 1px solid red !important;/*#A23232;*/
}

.linenumbererror {
  color: #A23232 !important;
}


.ui-slider-handle {
    outline: none !important;
}
