/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://opensource.org/licenses/mit-license.php */


/*  Resets
    ------  */
    
/* apply a natural box layout model to all elements */
/* from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*we don't do it for colorpicker*/
#ColorPicker, #ColorPicker input, #ColorPicker canvas, #ColorPicker div {
     -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
/*    width: 896px;
    padding: 72px 48px 84px; */
    background: rgb(232,232,232);
    color: rgb(60,60,60);
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    font-family: 'Open Sans', Helvetica, sans-serif;

}

#header a:link, #header a:hover, #header a:visited {
    color: white;

}
#header:hover #branding {
    top: 6px;
    background-color: rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: inset 0px 0px 5px 0px     rgba(0,0,0,0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}

#header {
    background-color: rgba(25,25,25,0.8);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    color: white;

    position: fixed;
    top: -36px;

     -webkit-transition: all .4s ease-in-out;  /* Saf3.2+, Chrome */
     -moz-transition:    all .4s ease-in-out;  /* FF4+ */
       -o-transition:    all .4s ease-in-out;  /* Opera 10.5+ */
          transition:    all .4s ease-in-out;
}
#header:hover {
    top: 0;
}
#header #branding {
/*
    -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.4); 
    box-shadow:         inset 0px 1px 8px 1px rgba(0,0,0,0.4); 
*/
    text-shadow: 0px 2px 0px rgba(0,0,0,0.8); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    background-color: rgba(0,0,0,0.5);
    border-radius: 6px;

    letter-spacing: 0.15em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    top: 50px;
    position: absolute;
    margin-right: 48px;
    -webkit-transition:  all .4s ease-in;  /* Saf3.2+, Chrome */
     -moz-transition:    all .4s ease-in;  /* FF4+ */
       -o-transition:    all .4s ease-in;  /* Opera 10.5+ */
          transition:    all .4s ease-in;
}

#gui {
    padding: 12px;
    border-radius: 6px;
    position: fixed;
    bottom: 32px;
    left: 48px;
    padding-top: 10px;
    z-index: 1000;

    background-color: rgba(255,255,255,0.72);
    border: 1px solid rgba(0,0,0,0.35);
}
#save_gui {
    position: absolute;
    right: 320px;
    top: 6px;
}
#gist_info {
    display: inline-block;
    margin-left: 148px;
}
#loggedin{
    display: inline-block;
    margin-left: 148px;
    font-size: 10px;
}
#page {

}
#display {
    
}

.editor {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 45px;
}

.CodeMirror .CodeMirror-scroll {
    background-color: rgba(8,8,8,0.80);
}

.editor_handle {
    position: fixed; 
    display: block; 
    float: left; 
    bottom: 12px; 
    right:  12px; 
    width: 24px; 
    height: 24px; 
    background-color: rgba(50, 250, 50, 0.398438); 
    z-index: 999; 
}
.editor-topbar {
    font-size: 12px !important;
    color: white;
    background-color: rgba(0,0,0,0.75);
    padding: 8px 16px;
}
.editor-topbar input {
    margin-left: 20px;
    
}
.editor-topbar button {
    margin-left: 20px;
}

.coffee_check {
    margin-left: 30px;
}
.vim_check {
    margin-left: 30px;
}
.emacs_check {
    margin-left: 30px;
}

/* temp hide editors stuff */
#hideEditors {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}
.show_editor {
    float: left;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    padding: 8px;
    padding-top: 12px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,0.008);
    -webkit-transition:all .5s linear .05s;       
       -moz-transition:all .5s linear .05s;
         -o-transition:all .5s linear .05s;
            transition:all .5s linear .05s;
}



.button_on {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0 1px 0 #eee; }
.button_on:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
.button_on:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

/* DISABLED BUTTONS */
.off {
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #aaa;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0 1px 0 #eee; }
.button_off:hover {
    /*
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; 
    */
}
.button_off:active {
    /*
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
    */
}


#syncing {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display:none;
}





/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
/*        width: 712px; */
/*        padding: 48px 28px 60px; */
        padding-top: 50px;
    }
    #page {
        width: 100%;
    }
    #header {
/*        font-size: 14px; */
        height: 50px;
        padding: 10px 5px;
        top: 0;
        /*background-color: #212121;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1.00)), to(rgba(0, 0, 0, 0.91)));
        background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -o-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -ms-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#000000');
        
    }
    #header #branding {
        position: static;
        display: inline-block;
        margin-right: 8px;
    }
    #header button {
        margin-top: 5px;
    }
    #gist_info {
        margin-left: 48px;
    }
    #loggedin {
        margin-left: 48px;
    }
 
    
}



/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
    
    body {
        width: 100%;
/*        width: 252px; */
/*        padding: 48px 34px 60px; */
    }
    #page {
        width: 100%;
    }
    #header {
/*        font-size: 14px; */
        height: 50px;
        padding: 10px 5px;
        top: 0;
        /*background-color: #212121;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1.00)), to(rgba(0, 0, 0, 0.91)));
        background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -o-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: -ms-linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        background-image: linear-gradient(top, rgba(33, 33, 33, 1.00), rgba(0, 0, 0, 0.91));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#000000');

    }
    #header #branding {
        position: static;
        display: inline-block;
        margin-right: 8px;
    }
    #header button {
        margin-top: 5px;
    }
    #gist_info {
        margin-left: 28px;
    }
    #loggedin {
        margin-left: 28px;
    }
 
    #save_gui {
        top: 14px;
        right: 288px;
    }
    #save_gui button{
        font-size: 11px !important;
        padding: 2px 4px;
    }
}



/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
/*        width: 436px; */
        width: 100%;
/*        padding: 36px 22px 48px; */
    }
    
}

