body {
        font-family: 'Ubuntu', Helvetica, Georgia, serif !important;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	background: #EFEFEF; 
/*    	background: #E3E3E3; */
    	color: black;
    	font-size: 13px;
    }
    a:link {
        color: black;
    }
    a:visited, a:hover {
        color: #262626;
        text-decoration: none;
    }
    h1 {
        padding-left: 10px;
        padding-top: 8px;
        float: left;
        font-size: 42px;
    }
    #page {
/*    	position: absolute; */
    	height: 100%;
    	width: 100%;
/*    	left: 5%; */
    }
    #tweetPanel {
        font-size: 10px;
        position: absolute;
        right: 360px;
        top: 10px;
        padding: 8px;
        padding-top: 12px;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.12);
        width: 70px;
        height: 20px;
        z-index: 1;
        cursor: pointer;
        border: 3px solid rgba(0,0,0,0.008);
        -webkit-transition:all .5s linear .05s;       
           -moz-transition:all .5s linear .05s;
             -o-transition:all .5s linear .05s;
                transition:all .5s linear .05s;
    }
    #twiticon {
        display:block;
        float:right;
        margin-top:-5px;
    }
    #tweetPanel:hover {

        background-color: rgba(0,0,0,0.2);
        border: 3px solid rgba(0,0,0,0.1);;
        
    }
    #savePanel {
        color: white;
        position: absolute;
        right: 260px;
        top: 0px;
        margin-top: 10px;
        padding: 8px;
        padding-top: 12px;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.7);
        width: 70px;
        height:20px;
        z-index: 1;
        cursor: pointer;
        border: 3px solid rgba(0,0,0,0.008);
        -webkit-transition:all .5s linear .05s;       
           -moz-transition:all .5s linear .05s;
             -o-transition:all .5s linear .05s;
                transition:all .5s linear .05s;
    }
    #savePanel:hover {

        background-color: rgba(0,0,0,0.8);
        border: 3px solid rgba(0,0,0,0.9);;
        
    }

    #saveButton {
        position: relative;
        top: -5px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        /*background-color: "#aaaaaa";*/
        float:right;
    }

    #savePanel .address {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
        font-size: 0.8em;
        font-size: 13px;
        float: left;
        margin-left: 5px;
        margin-top: 4px;
    }

    #savePanel .address a {
        color: white;
    }

    #display {
    	height: 100%;
    	width: 100%;
    	background: white;
/*    	border: solid black 2px;*/
    	border-right: none;
    	border-top: 4px solid black;
    	border-bottom: 4px solid black;
    	/*
    	-moz-box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.4);
    	-webkit-box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.4);
    	box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.4);
    	*/
    	/*
    	border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
    	border-top-right-radius: 40px 10px;
    	border-bottom-right-radius: 40px 10px;
    	*/
    }

    #hideEditor {
        color: white;
        position: fixed;
        right: 20px;
        bottom: 20px;
        margin-top: 10px;
        padding: 8px;
        padding-top: 12px;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.4);
        width: 30px;
        z-index: 1;
        cursor: pointer;
        border: 3px solid rgba(0,0,0,0.008);
        -webkit-transition:all .5s linear .05s;       
           -moz-transition:all .5s linear .05s;
             -o-transition:all .5s linear .05s;
                transition:all .5s linear .05s;
    }


    #editor {
        
    	position: fixed;
    	bottom: 10px;
    	right: 0;

    	height: 36%;
    	width: 59%;
    	border: solid black 2px;
    	border-left: none;
    	background: white;
/*    	border-top-right-radius: 5px;
    	border-bottom-right-radius: 5px;
    	border-top-left-radius: 40px 10px;
    	border-bottom-left-radius: 40px 10px;
*/
    	/*
    	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	-webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	*/

    	font-size: 1em; /* TODO: replace with localstorage */
    }
    #editor #tweet_this {
        padding-bottom: 10px;
    }

    #editor .ace_gutter {
    	top: -1px;
/*    	border: solid black 2px;

    	border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    	border-top-left-radius: 40px 10px;
    	border-bottom-left-radius: 40px 10px;
*/
        background-color: black;
        color: white;

    }
    #editor textarea {
    }
    .ace_scroller, .ace-twilight {
        background-color: rgba(0,0,0,0.6) !important;  
    }

    svg {
    	position: absolute;
    	background: #FFF;
/*    	
    	border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
    	border-top-right-radius: 40px 10px;
    	border-bottom-right-radius: 40px 10px;
*/
/*    	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	-webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
    	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
*/
    }

    .font-control {
    	position: absolute;
    	top: 0em;
    	right: 1.25em;
    	width: 1em;
    	height: 1em;
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	text-indent: -9999px;
    	overflow: hidden;
    	z-index: 10;
    	cursor: pointer;
    }

    .increase.font-control {
    	right: 2.25em;
    	background-image: url('../img/plus_alt.png');
    }

    .decrease.font-control {
    	background-image: url('../img/minus_alt.png');
    }

    .increase.font-control:hover {
    	background-image: url('../img/plus.png');
    }

    .decrease.font-control:hover {
    	background-image: url('../img/minus.png');
    }

    #slider {
        position: absolute;
        top: 0;
    	visibility: hidden;
    	z-index: 10;
    	width: 25%;
        /*
    	-moz-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
    	-webkit-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
    	box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
    	*/
    	border: 4px solid white;
    	border-bottom: 5px solid white;
        -webkit-box-shadow:2px 2px 2px 4px rgba(0,0,0,0.45); /* Saf3.0+, Chrome */
           -moz-box-shadow:2px 2px 2px 4px rgba(0,0,0,0.45); /* FF3.5+ */
                box-shadow:2px 2px 2px 4px rgba(0,0,0,0.45); /* Opera 10.5, IE 9.0 */
            filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='#fff'); /* IE6,IE7 */
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='#fff')"; /* IE8 */ 
    }

    #slider .ui-slider-handle {
    	background: #CB336E;
    	border-color: #FFF;
    	width: 35px;
    }

    #instructions {
    	top: 50px;
        right: 100px;
    	text-align: right;
    	width: 100%;
    	font-size: 0.9em;
    	line-height: 1.35em;
/*    	color: white; */
    	text-decoration: none;
    	font-family: Arial, sans-serif;
    }

    #aboutAndAttribution {
    	width: 100%;
    	font-size: 0.9em;
    	line-height: 1.35em;
/*    	color: white; */
    	text-decoration: none;
/*    	font-family: Arial, sans-serif; */
    }

    #aboutAndAttribution a {
/*    	color: white; */
    	text-decoration: underline;
    }

    #attribution {
        color: rgba(0,0,0,0.4);
        width: 25%;
    	position: absolute;
    	left: 0px;
    	padding-top: 2%;
    	padding-left: 2%;
    	padding-bottom: 2%;
    	
    	-webkit-transition:all .2s linear .05s;       
           -moz-transition:all .2s linear .05s;
             -o-transition:all .2s linear .05s;
                transition:all .2s linear .05s;
    }
    
    #attribution a:link, #attribution a:visited {
        opacity: 0.98;
    }
    #attribution:hover {
        color: rgba(0,0,0,0.98) !important;
    }

    #about {
    	position: absolute;
    	right: 0px;
    }
    h1 {
        display: inline-block;
    }
    #branding {
        padding-top: 10px;
        padding-right: 10px;
        margin-left: auto;
        display: block;
        width: 200px; 
    }
    #branding h1 {
        margin-left: 18px;
    }
