/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://opensource.org/licenses/mit-license.php */


/*  Resets
    ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
/*    width: 896px;
    padding: 72px 48px 84px; */
    background: rgb(232,232,232);
    color: rgb(60,60,60);
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    font-family: 'Open Sans', Helvetica, sans-serif;

}

#header a:link, #header a:hover, #header a:visited {
    color: white;

}
#header:hover #branding {
    top: 6px;
    background-color: rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: inset 0px 0px 5px 0px     rgba(0,0,0,0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}

#header {
    background-color: rgba(25,25,25,0.8);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    color: white;

    position: fixed;
    top: -36px;

     -webkit-transition: all .4s ease-in-out;  /* Saf3.2+, Chrome */
     -moz-transition:    all .4s ease-in-out;  /* FF4+ */
       -o-transition:    all .4s ease-in-out;  /* Opera 10.5+ */
          transition:    all .4s ease-in-out;
}
#header:hover {
    top: 0;
}
#header #branding {
    -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.4); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow:         inset 0px 1px 8px 1px rgba(0,0,0,0.4); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

    text-shadow: 0px 2px 0px rgba(0,0,0,0.8); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;

    letter-spacing: 0.15em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    top: 46px;
    position: absolute;
    margin-right: 48px;
    -webkit-transition:  all .8s ease-in;  /* Saf3.2+, Chrome */
     -moz-transition:    all .8s ease-in;  /* FF4+ */
       -o-transition:    all .8s ease-in;  /* Opera 10.5+ */
          transition:    all .8s ease-in;
}
#save_gui {
    position: absolute;
    right: 320px;
    top: 6px;
}
#gist_info {
    display: inline-block;
    margin-left: 148px;
}
#page {

}
#display {
    
}
#editor {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}
#editor_handle {
    position: fixed; 
    display: block; 
    float: left; 
    bottom: 12px; 
    right:  12px; 
    width: 24px; 
    height: 24px; 
    background-color: rgba(50, 250, 50, 0.398438); 
    z-index: 999; 
}

button {
    border-radius: 6px;
    padding: 4px 12px;
    margin-right: 8px;
}



/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
        width: 712px;
        padding: 48px 28px 60px;
    }
}



/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
    
    body {
        width: 252px;
        padding: 48px 34px 60px;
    }
    
}



/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
        width: 436px;
        padding: 36px 22px 48px;
    }
    
}

