/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
/*	Resets
	------	*/
/* apply a natural box layout model to all elements */
/* from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html {
  -webkit-font-smoothing: antialiased;
}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
a img {
  border: 0;
}
/* Highlight color, when user selects text */
/* Link color, hover/visited will be generated from this */
/* Selection colours (easy to forget) */
::selection {
  background: #b5bfcb;
}
::-moz-selection {
  background: #b5bfcb;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #b5bfcb;
}
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
body {
  background: #e8e8e8;
  color: #3c3c3c;
  font-family: 'Open Sans', Helvetica, sans-serif;
  z-index: -99999;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */

}
a:link {
  color: #10206d;
  -webkit-transition: all 0.24s ease-in-out;
  -moz-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
a:hover {
  color: #060c2a;
}
a:visited {
  color: #04081d;
}
#page {
  width: 100%;
  height: 100%;
}
#display {
  float: left;
}
.tb_panel {
  position: relative;
  background-color: #262626;
  float: left;
  min-width: 260px;
  padding-top: 4px;
}
.panel {
  background-color: #262626;
}
.tb_panelfiles_gui {
  height: 31px !important;
  background-color: #262626;
  float: right;
  padding-top: 4px;
  border-bottom: 2px solid #505050;
}
.tb_panel_gui {
  float: right;
  background-color: #383838;
  right: 0px;
  position: fixed;
  bottom: 0px;
  border-top: 2px solid #999;
  padding-bottom: 4px;
}
.pb {
  width: 58px;
  height: 25px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  padding: 4px 4px;
  margin: 0 3px;
  color: #fff;
  background-color: #595959;
  color: #BABABA;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  float: right;
  /*background-color: #404041;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(#404041), to(rgba(8, 8, 8, 0.75)));
  background-image: -webkit-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -moz-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -o-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -ms-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#404041', EndColorStr='#080808');
  border: 1px solid black;
  opacity: 0.5;
  -webkit-transition: all 0.85s ease-out;
  -moz-transition: all 0.85s ease-out;
  -o-transition: all 0.85s ease-out;
  transition: all 0.85s ease-out;
}
.pb:hover {
  opacity: 0.85;
  background-color: #1b1b1b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b), to(#3b3b3c));
  background-image: -webkit-linear-gradient(top, #1b1b1b, #3b3b3c);
  background-image: -moz-linear-gradient(top, #1b1b1b, #3b3b3c);
  background-image: -o-linear-gradient(top, #1b1b1b, #3b3b3c);
  background-image: -ms-linear-gradient(top, #1b1b1b, #3b3b3c);
  background-image: linear-gradient(top, #1b1b1b, #3b3b3c);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#1b1b1b', EndColorStr='#3b3b3c');
  -webkit-transition: all 0.28s ease-out;
  -moz-transition: all 0.28s ease-out;
  -o-transition: all 0.28s ease-out;
  transition: all 0.28s ease-out;
}
.gui_active {
  opacity: 1;
  color: #D5D5D5;
  text-shadow: rgba(10, 10, 10, 0.62) 0 1px 3px;
  /*background-color: #080808;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.75)), to(#404041));
  background-image: -webkit-linear-gradient(top, rgba(8, 8, 8, 0.75), #404041);
  background-image: -moz-linear-gradient(top, rgba(8, 8, 8, 0.75), #404041);
  background-image: -o-linear-gradient(top, rgba(8, 8, 8, 0.75), #404041);
  background-image: -ms-linear-gradient(top, rgba(8, 8, 8, 0.75), #404041);
  background-image: linear-gradient(top, rgba(8, 8, 8, 0.75), #404041);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#080808', EndColorStr='#404041');
  border-top: 1px solid #999;
}
.tb_config {
  width: 100%;
  /*height: 100%;*/

  overflow-y: auto;
}
.config {
  padding: 8px 6px;
  margin: 6px;
  color: #fff;
  border-radius: 4px;
  -webkit-transition: all .22s linear ;
  -moz-transition: all .22s linear ;
  -o-transition: all .22s linear ;
  transition: all .22s linear ;
}
.config:hover {
  cursor: pointer;
  background-color: #262626;
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 200, from(#3a3a3a), to(#262626));
  background-image: -webkit-radial-gradient(0% 0%, #262626, #3a3a3a);
  background-image: -moz-radial-gradient(0% 0%, #262626, #3a3a3a);
  background-image: -o-radial-gradient(0% 0%, #262626, #3a3a3a);
  background-image: -ms-radial-gradient(0% 0%, #262626, #3a3a3a);
  background-image: radial-gradient(0% 0%, #262626, #3a3a3a);
  -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.25);
  /* Saf3.0+, Chrome */

  -moz-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.25);
  /* FF3.5+ */

  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.25);
  /* Opera 10.5, IE 9.0 */

}
.config .description {
  font-size: 10px;
}
.config .delete {
  font-size: 14px;
  float: right;
  margin-right: 24px;
  padding: 3px;
  border-radius: 2px;
}
.config .delete:hover {
  font-size: 12px;
  background-color: #f00;
}
.config_active {
  border: 1px solid rgba(250, 250, 240, 0.3);
  background-color: #424142;
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 200, from(#1e1e1e), to(#424142));
  background-image: -webkit-radial-gradient(0% 0%, #424142, #1e1e1e);
  background-image: -moz-radial-gradient(0% 0%, #424142, #1e1e1e);
  background-image: -o-radial-gradient(0% 0%, #424142, #1e1e1e);
  background-image: -ms-radial-gradient(0% 0%, #424142, #1e1e1e);
  background-image: radial-gradient(0% 0%, #424142, #1e1e1e);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  /* Saf3.0+, Chrome */

  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  /* FF3.5+ */

  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  /* Opera 10.5, IE 9.0 */

}
.config_title {
  font-size: 20px;
  color: #fff;
  margin: 5px;
}
.config div {
  text-align: right;
}
.config input {
  background-color: black;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px;
  color: white;
  outline: none;
}
.config input:active {
  border: 1px solid black;
}
.tb_add {
  text-align: right;
  color: white;
}
.tb_add input {
  background-color: black;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px;
  color: white;
  outline: none;
}
.tb_add input:active {
  border: 1px solid black;
}
.tb_controls {
  padding: 16px;
  text-align: center;
  position: fixed;
  bottom: 12px;
  left: 12px;
  /*    width: 298px; */

  /*    height: 72px;
    overflow: auto; */

  border-radius: 4px;
  background-color: rgba(210, 210, 215, 0.38);
}
.tb_controls button {
  margin: 0 6px;
}
/* the draggable handle for resizing the panel */
.tb_panel_handle {
  display: block;
  width: 5px;
  height: 100%;
  background-color: #262626;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  cursor: ew-resize;
}
.tb_hide-panel {
  z-index: 99999;
  position: absolute;
  margin-top: 6px;
}
.tb_hide-panel-button {
  width: 32px;
  height: 18px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  padding: 1px 2px;
  margin: 0 3px;
  color: #fff;
  background-color: #595959;
  color: #BABABA;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 4px;
  /*float: right;   */

  /*background-color: #404041;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(#404041), to(rgba(8, 8, 8, 0.75)));
  background-image: -webkit-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -moz-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -o-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -ms-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#404041', EndColorStr='#080808');
  border: 1px solid black;
  opacity: 0.5;
}
.tb_hide-panel-button:hover {
  opacity: 1;
  background-color: #2f2f30;
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 200, from(#222222), to(#2f2f30));
  background-image: -webkit-radial-gradient(50% 100%, #2f2f30, #222222);
  background-image: -moz-radial-gradient(50% 100%, #2f2f30, #222222);
  background-image: -o-radial-gradient(50% 100%, #2f2f30, #222222);
  background-image: -ms-radial-gradient(50% 100%, #2f2f30, #222222);
  background-image: radial-gradient(50% 100%, #2f2f30, #222222);
  color: #858585;
}
#show-codepanel {
  display: inline-block;
}
/* 4 constituents of the panel */
.tb_edit {
  width: 100%;
  height: 100%;
}
.error {
  border-right: 2px solid red !important;
}
/*
#controls{
    width: 100%;
    height: 100%;
}
*/
.fullscreen {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}
.tb_files {
  font-size: 10px;
  width: 100%;
  height: 100%;
  color: white !important;
}
.fv.type-js {
  background-color: red !important;
}
.fv.type-svg {
  background-color: green !important;
}
.fv.type-css {
  background-color: #999 !important;
}
.fv.type-html {
  background-color: blue !important;
}
.fv,
.plus {
  opacity: 0.7;
  padding: 2px 6px;
  float: left;
  /*    width: 58px; */

  height: 25px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  padding: 4px 4px;
  margin: 0 3px;
  color: #fff;
  color: #BABABA;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  /*background-color: #404041;*/

  background-image: -webkit-gradient(linear, left top, left bottom, from(#404041), to(rgba(8, 8, 8, 0.75)));
  background-image: -webkit-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -moz-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -o-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: -ms-linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  background-image: linear-gradient(top, #404041, rgba(8, 8, 8, 0.75));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#404041', EndColorStr='#080808');
  border: 1px solid black;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fv:hover {
  opacity: 1;
}
.plus input {
  width: 62px;
  color: white;
  background-color: transparent;
  outline: none;
  border: 0px solid transparent;
  border-bottom: 1px solid #999;
  padding: 1px 4px;
}
.fv .input_error {
  border-bottom: 1px solid red;
}
/*
.fv {
    padding: 10px 8px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.fv:hover {
    background-color: #262626;
    background-image: -webkit-gradient(radial, 0% 0%,0,0% 0%,200, from(rgb(58, 58, 58)), to(rgb(38, 38, 38)));
    background-image: -webkit-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -moz-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -o-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: -ms-radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));
    background-image: radial-gradient(0% 0%, rgb(38, 38, 38), rgb(58, 58, 58));

    -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65);
       -moz-box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65);
            box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.65);
}
*/
.input_error {
  border: 4px solid #f00;
}
.editor {
  width: 100%;
  height: 100%;
}
.editor .CodeMirror {
  width: 100%;
  height: 100%;
}
.editor .CodeMirror-scroll {
  width: 100%;
  height: 100%;
}
.play {
  width: 70px;
}
/*
.CodeMirror .CodeMirror-scroll {
    background-color: rgba(8,8,8,0.80);
}
*/
/* HEADER / TOPBAR STUFF */
#header {
  background-color: #3a3a3a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#262626));
  background-image: -webkit-linear-gradient(top, #3a3a3a, #262626);
  background-image: -moz-linear-gradient(top, #3a3a3a, #262626);
  background-image: -o-linear-gradient(top, #3a3a3a, #262626);
  background-image: -ms-linear-gradient(top, #3a3a3a, #262626);
  background-image: linear-gradient(top, #3a3a3a, #262626);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#3a3a3a', EndColorStr='#262626');
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  height: 32px;
  font-size: 14px !important;
  color: white;
  z-index: 200;
  /*lay header on top of datgui */

  -webkit-transition: all 0.62s ease-out;
  -moz-transition: all 0.62s ease-out;
  -o-transition: all 0.62s ease-out;
  transition: all 0.62s ease-out;
}
#header a:link,
#header a:hover,
#header a:visited {
  color: white;
}
#header button {
  padding: 4px;
}
#header #branding {
  top: 4px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  letter-spacing: 0.15em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  margin-right: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */

  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}
#gist-title {
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 1px 4px;
  margin: 0 2px;
  outline: none;
  -webkit-transition: all .3s linear ;
  -moz-transition: all .3s linear ;
  -o-transition: all .3s linear ;
  transition: all .3s linear ;
}
#gist-title:hover {
  background-color: white;
  border-radius: 2px;
  color: black;
}
#gist-title a:link {
  text-decoration: none;
}
/* When the panel is removed AKA "fullscreen mode" the
   header gets the class "dimheader"                    */
.dimheader {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-image: none !important;
  background-color: transparent !important;
  color: black !important;
}
.dimheader a:link,
.dimheader a:hover,
.dimheader a:visited {
  color: black !important;
}
.dimheader:hover {
  opacity: 1;
}
#save_gui {
  position: absolute;
  right: 5px;
  /*right: 320px; */

  top: 6px;
}
#save_gui button {
  margin: 0 2px;
}
#datgui {
  top: 10px;
}
#gui {
  padding: 12px;
  border-radius: 6px;
  position: fixed;
  bottom: 32px;
  left: 48px;
  padding-top: 10px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.72);
  border: 1px solid rgba(0, 0, 0, 0.35);
}
#gist_info {
  display: inline-block;
  margin-left: 148px;
}
#gist_info,
#save_gui {
  opacity: 0.24;
  -webkit-transition: all 0.24s ease-out 0.22s;
  -moz-transition: all 0.24s ease-out 0.22s;
  -o-transition: all 0.24s ease-out 0.22s;
  transition: all 0.24s ease-out 0.22s;
}
#gist_info:hover,
#save_gui:hover {
  opacity: 1 !important;
}
#loggedin {
  display: inline-block;
  margin-left: 148px;
  font-size: 10px;
}
#panelgui .gui_active {
  opacity: 1 !important;
}
/* TOOLBAR STUFF */
.editor {
  /*position: relative;*/

}
.editor .settings {
  position: relative;
  float: right;
  margin-top: -15px;
  margin-right: 0px;
  color: white;
}
.editor .hidden {
  display: none;
}
.editor .toolbar .radio {
  margin-left: 5px;
  font-size: 20px;
}
.editor .toolbar label {
  color: white;
  margin-left: 5px;
  font-size: 12px;
}
.lineerror {
  background: #A23232 !important;
  opacity: 0.1;
  border: 1px solid red !important;
  /*#A23232;*/

}
.linenumbererror {
  color: #A23232 !important;
}
.ui-slider-handle {
  outline: none !important;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*	
  	body {
  		width: 712px;
  		padding: 32px 28px 60px;
  	}
  */
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /*	
  	body {
  		width: 252px;
  		padding: 24px 34px 60px;
  	}
  */
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*	
  	body {
  		width: 436px;
  		padding: 24px 22px 48px;
  	}
  */
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
