@charset "UTF-8";


.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-cancel-circle2:before { content: '\e703'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-discuss:before { content: '\e720'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-push-right:before { content: '\e783'; } /* '' */
.icon-load:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */