<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Tributary Sandbox</title>
	<link rel="stylesheet" media="all" href=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <link rel="stylesheet" href="/static/css/trib.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/tipsy.css">

  <!-- Add jQuery -->
  <script src="/static/lib/jquery-1.7.min.js"></script>
  <script src="/static/lib/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>

  
  <!-- CodeMirror Things -->
<link rel="stylesheet" href="/static/lib/CodeMirror3/lib/codemirror.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/lib/util/dialog.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/theme/night.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/theme/vibrant-ink.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/theme/ambiance.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/theme/elegant.css">
<link rel="stylesheet" href="/static/lib/CodeMirror3/addon/lint/lint.css">

<!-- Add EJ modified lesser dark -->
<link rel="stylesheet" href="/static/lib/CodeMirror3/theme/ej.css">

<link rel="stylesheet" href="/static/lib/inlet.css" type="text/css" media="screen" charset="utf-8">
<!-- And the main styles -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" title="Primary Stylesheet" charset="utf-8">

<script src="/static/lib/html5slider.js"></script>

</head>
<body>
<div id="container">

	<section id="display">
	</section>
  
	<aside id="panel">
		<section id="files">
			<ul id="file-list">
			</ul>
		</section>

		<section id="config" >
			<button id="config-toggle">Config</button>
			<button id="library-toggle">Add libraries</button>
			<button id="fullscreen">Fullscreen</button>


			<div id="config-content" class="config-content" style="display: none;">
				<h4>Display <small><i class="explain-this-shit icon-help-circled"></i></small></h4>
				<select>
					<option value="svg">SVG</option>
					<option value="canvas">Canvas</option>
					<option value="webgl">WebGL</option>
					<option value="div">HTML</option>
				</select>

        

        <div id="editorcontrols">
          <h4>Editor Controls <small><i class="explain-this-shit icon-help-circled"></i></small></h4>
          <button id="logerrors" data-name="log-errors">Log Errors</button>
        </div>

        <div id="thumbnail-content">
          <h4>Add thumbnail <small><i class="explain-this-shit icon-help-circled"></i></small></h4>
          <img id="trib-thumbnail" style="display:none;"></img>
          <input type="file" name="files[]" />
        </div>

			</div>

				<div id="library-content" class="config-content" style="display: none;">
					<ul id="library-checklist">
          <!--
					<li class="lib"> <input type="checkbox" /> Tabletop </li>
					<li class="lib"> <input type="checkbox" /> Paper.js </li>
					<li class="lib"> <input type="checkbox" /> Kartogram </li>
					<li class="lib"> <input type="checkbox" /> TopoJSON </li>
          -->
					</ul>
					<h4>Import URL</h4>
					<ul id="library-links">
						<li class="add-link">Title: <input type="text" class="library-title"> URL: <input type="text" class="library-url">
						<button class="add-library">Add</button>
						</li>
					</ul>
				</div>

		</section>
		<section id="code">

		</section>

    <section id="controls">
    </section>

	</aside>
  
  <section id="plugins">
  </section>

</div>


<!-- Essential 3rd party libraries (that can't be browserified for now) -->
<script src="/static/lib/coffee-script.js"></script>
<script src="/static/lib/jsonlint.js"></script>

<!-- three.js should probably be done as a plugin -->
<script src="/static/lib/three.min.js"></script>
<script src="/static/lib/Stats.js"></script>

<!-- 3rd party libs we want available as global variables (should be libs in the add libraries list) -->
<script src="/static/lib/underscore-min.js"></script>
<script src="/static/lib/queue.min.js"></script>
<!-- extra 3rd party libs 
TODO: add these as defualt libs in the list
<script src="http://d3js.org/topojson.v0.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
-->


<!-- Tributary -->
<script src="/static/tributary.min.js?v=0.8"></script>

<!-- UI related -->
<script src="/static/lib/handlebars-1.0.rc.1.js"></script>
<script src="/static/templates.js"></script>
<script src="/static/tributary-ui.min.js"></script>

<script type="text/javascript">
  
//get rid of selection when dragging things
if(typeof document.body.style.MozUserSelect!="undefined")
    document.body.style.MozUserSelect="none";
else if(typeof document.body.onselectstart!="undefined")
    document.body.onselectstart=function(){return false};
else
    document.body.onmousedown=function(){return false};
document.body.style.cursor = "default";


var tb = Tributary();
tb._origin = "{{ origin }}";

//decorate the tributary object with the ui logic
TributaryUi(tb);

tb.ui.setup();

tb.events.on("loaded", function() {
  tb.loadPlugin("/static/plugins/play/plugin.json"
  , {}
  , function (err) { console.log("plugin load err?", err) }
  );
  /*
  //example simple plugin
  tb.loadPlugin("/static/plugins/simple/plugin.json"
  , {}
  , function (err) { console.log("plugin load err?", err) }
  );
  */
})


$('i').tipsy({fade: true, gravity: 'n', opacity: 0.86});
</script>

</body>
</html>
