<!doctype html>
<html>
<head>
    <meta charset='utf-8' />

    <title>{% block title %}{% endblock %}</title>

    {% block default_style %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/lib/codemirror.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/night.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/lesser-dark.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/monokai.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/elegant.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/cobalt.css">
    <link rel="stylesheet" href="/static/lib/codemirror-2.23/theme/eclipse.css">

    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <link rel='stylesheet' type='text/css' href='/static/lib/slider/css/humanity/jquery-ui-slider.css' />
    <link href="/static/lib/colorpicker/Color.Picker.Classic.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <link rel='stylesheet' type='text/css' href='/static/css/style.css' />
    {% endblock %}

    {% block style %}
    {% endblock %}


    <script type="text/javascript">
        window.tributary = {}
        var tributary = window.tributary
        var trib;
        //window.tributary.gist = "{{gist}}";
        //window.tributary.filename = "{{filename}}";
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30237258-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    </head>
<body>

{% block chrome %}
<div id="header">
    <div id="branding">
    {% block branding%}
    {% endblock %}
    </div> 


    <div id="fork-n-tweet">
            <button id='savePanel' class="minimal">
                Fork: <img src="/static/css/floppy.png" width="24" height="24" alt="Floppy">&nbsp;
                <!--
                <div class='address'><a href='#'>https://gist.github.com/b9ab9418af567e575b3e</a></div>
                -->
            </button>
            
            <button id="tweetPanel" class="minimal">
                Tweet:
                <img id="twiticon" src="/static/css/twitter.png"></img>
                
            </button>
        </div>
    </div>

    <div id="hideEditor">Hide</div>

{% endblock %}

    <div id='page'>

        {% block gui %}
        {% endblock %}
     
        <div id='editor'>
        </div>
        <div id="slider"></div>

    </div>


    {% block attribution %}
    <div id='aboutAndAttribution'>
        <p>100% totally based on Bret Victor's genius <a href='http://vimeo.com/36579366'>Inventing on Principle</a> talk<p>
        <p>further inspired by 
        <a href="http://bl.ocks.org"> bl.ocks.org </a>
        and
        <a href='http://gabrielflor.it/blog-water'>water</a>
        </p>

        <p><a href='https://github.com/enjalot/tributary'>source code</a> on github</p>
        <p><a href='https://enjalot.com'>gallery</a></p>
        <br/>
    
    </div>
    {% endblock %}


    
    <script src="/static/lib/jquery-1.7.min.js"></script>
    <script src="/static/lib/jquery-ui.1.8.16.custom.min.js"></script>
    <script src='/static/lib/jquery.hotkeys.js'></script>
    <script src='/static/lib/slider/js/jquery.ui.slider.js'></script>

    <!-- 3rd party libraries -->
    <script src="/static/lib/d3.v2.min.js"></script>
    <script src="/static/lib/underscore-min.js"></script>
    <script src="/static/lib/backbone-min.js"></script>
    <script src="/static/lib/jwerty.js"></script>

    <!-- https://github.com/mudcube/Color-Picker -->
    <script src="/static/lib/colorpicker/Color.Picker.Classic.js" type="text/javascript"></script> 
    <script src="/static/lib/colorpicker/Color.Space.js" type="text/javascript"></script> 

    <script src="/static/lib/codemirror-2.23/lib/codemirror.js"></script>
    <script src="/static/lib/codemirror-2.23/mode/javascript/javascript.js"></script>

    <script src='/static/tributary.js'></script>

    <!--
    <script src='/static/trib.js'></script>
    -->
    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">

    {% block jsinit %}
    {% endblock %}

    </script>
<!--
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
-->
</body>
</html>
