<!doctype html>
<html>
<head>
    <meta charset='utf-8' />

    <title>{% block title %}{% endblock %}</title>

    {% block default_style %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/lib/CodeMirror2/lib/codemirror.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/night.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/lesser-dark.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/monokai.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/elegant.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/cobalt.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/eclipse.css">

    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <link rel='stylesheet' type='text/css' href='/static/lib/slider/css/humanity/jquery-ui-slider.css' />
    <link href="/static/lib/colorpicker/Color.Picker.Classic.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <link rel='stylesheet' type='text/css' href='/static/css/style.css' />
    {% endblock %}

    {% block style %}
    {% endblock %}


    <script type="text/javascript">
        window.tributary = {}
        var tributary = window.tributary
        //provide global trib object
        window.trib = {};
        window.trib_options = {};
        tributary.loggedin = "{{ loggedin }}" === "True";
        tributary.username = "{{ username }}";
        tributary.avatar = "{{ avatar }}";
        tributary.userid = "{{ userid }}";
        tributary.userurl = "{{ userurl }}";
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30237258-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    </head>
<body>

{% block chrome %}
<div id="header">
    <div id="branding">
    {% block branding%}
    {% endblock %}
    </div> 
    <div id="gist_info"></div>

    <div id="save_gui"> 
            <button id='loginPanel' class="minimal">
                {% if not loggedin %}
                Login: 
                {% else %}
                Logout:
                {% endif %}
                <img src="/static/css/floppy.png" width="24" height="24" alt="Floppy">&nbsp;
                <!--
                <div class='address'><a href='#'>https://gist.github.com/b9ab9418af567e575b3e</a></div>
                -->
            </button>
            
            <button id='savePanel' class="minimal">
                Save: <img src="/static/css/floppy.png" width="24" height="24" alt="Floppy">&nbsp;
                <!--
                <div class='address'><a href='#'>https://gist.github.com/b9ab9418af567e575b3e</a></div>
                -->
            </button>

            <button id='forkPanel' class="minimal">
                Fork: <img src="/static/css/floppy.png" width="24" height="24" alt="Floppy">&nbsp;
                <!--
                <div class='address'><a href='#'>https://gist.github.com/b9ab9418af567e575b3e</a></div>
                -->
            </button>
            
            <!--
            <button id="tweetPanel" class="minimal">
                Tweet:
                <img id="twiticon" src="/static/css/twitter.png"></img>
                
            </button>
            -->
        </div>
         {% if loggedin %}
        Logged in as: <a href="http://github.com/{{ username }}">{{ username }}</a>
        {% else %}
        Not logged in (user: anon)
        {% endif %}
        <br>
    </div>

    <div id="hideEditors"></div>

{% endblock %}

    <div id='page'>

        {% block gui %}
        {% endblock %}
     
        <!--
        <div id='editor'>
            <input type="checkbox" id="coffee_check">CoffeeScript</input>
            <input type="checkbox" id="vim_check">vim</input>
            <input type="checkbox" id="emacs_check">emacs</input>
        </div>
        -->
        <div id="slider"></div>

    </div>


    {% block attribution %}
    <!--
    <div id='aboutAndAttribution'>
        <p>100% totally based on Bret Victor's genius <a href='http://vimeo.com/36579366'>Inventing on Principle</a> talk<p>
        <p>further inspired by 
        <a href="http://bl.ocks.org"> bl.ocks.org </a>
        and
        <a href='http://gabrielflor.it/blog-water'>water</a>
        </p>

        <p><a href='https://github.com/enjalot/tributary'>source code</a> on github</p>
        <p><a href='https://mainstem.org'>gallery</a></p>
        <br/>
    
    </div>
    -->
    {% endblock %}


    
    <script src="/static/lib/jquery-1.7.min.js"></script>
    <script src="/static/lib/jquery-ui.1.8.16.custom.min.js"></script>
    <!-- <script src='/static/lib/jquery.hotkeys.js'></script> -->
    <script src='/static/lib/slider/js/jquery.ui.slider.js'></script>

    <!-- 3rd party libraries -->
    <script src="/static/lib/d3.v2.min.js"></script>
    <script src="/static/lib/d3plugins/cie/cie.js"></script>
    <script src="/static/lib/d3-cloud/d3.layout.cloud.js"></script>
    <script src="/static/lib/underscore-min.js"></script>
    <script src="/static/lib/backbone-min.js"></script>
    <script src="/static/lib/jwerty.js"></script>
    <script src="/static/lib/dat.gui.min.js"></script>
    <script src="/static/lib/coffee-script.js"></script>

    <!-- https://github.com/mudcube/Color-Picker -->
    <script src="/static/lib/colorpicker/Color.Picker.Classic.js" type="text/javascript"></script> 
    <script src="/static/lib/colorpicker/Color.Space.js" type="text/javascript"></script> 

    <script src="/static/lib/CodeMirror2/lib/codemirror.js"></script>
    <script src="/static/lib/CodeMirror2/lib/util/searchcursor.js"></script>
    <script src="/static/lib/CodeMirror2/mode/javascript/javascript.js"></script>
    <script src="/static/lib/CodeMirror2/mode/coffeescript/coffeescript.js"></script>
    <script src="/static/lib/CodeMirror2/keymap/vim.js"></script>
    <script src="/static/lib/CodeMirror2/keymap/emacs.js"></script>

    <script src='/static/lib/dvl/dvl.js'></script>

    <script src="/static/lib/inlet.js"></script>
    <script src='/static/util.js'></script>
    <script src='/static/components/dial.js'></script>
    <script src='/static/tributary.js'></script>

    

    <!--
    <script src='/static/trib.js'></script>
    -->
    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">

    //get rid of selection when dragging things
    if(typeof document.body.style.MozUserSelect!="undefined")
        document.body.style.MozUserSelect="none";
    else if(typeof document.body.onselectstart!="undefined")
        document.body.onselectstart=function(){return false};
    else
        document.body.onmousedown=function(){return false};
    document.body.style.cursor = "default";

    var header_factor = 85;
    //always have the screen width and height
    tributary.sw = window.innerWidth;
    tributary.sh = window.innerHeight - header_factor;
    d3.select("svg").attr("width", tributary.sw);
    d3.select("svg").attr("height", tributary.sh);

    function resize() {
        tributary.sw = window.innerWidth;
        tributary.sh = window.innerHeight - header_factor;
        d3.select("svg").attr("width", tributary.sw);
        d3.select("svg").attr("height", tributary.sh);
    }
    window.onresize = function(event) {
        resize();
    }

    {% block jsinit %}
    {% endblock %}

    </script>
    <style>
        .dg.ac {
            right: 240px;
        }
    </style>
<!--
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
-->
</body>
</html>
