<!doctype html>
<html>
<head>
    <meta charset='utf-8' />

    <title>{% block title %}{% endblock %}</title>

    {% block default_style %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/lib/CodeMirror2/lib/codemirror.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/night.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/lesser-dark.css">
 <!--   <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/monokai.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/elegant.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/cobalt.css">
    <link rel="stylesheet" href="/static/lib/CodeMirror2/theme/eclipse.css">
-->

    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <link rel='stylesheet' type='text/css' href='/static/lib/slider/css/humanity/jquery-ui-slider.css' />
    <link href="/static/lib/colorpicker/Color.Picker.Classic.css" rel="stylesheet" type="text/css" />

    <!-- parallel coords css -->
    <link rel='stylesheet' type='text/css' href="/static/lib/parallel-coordinates/d3.parcoords.css"></link>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <link rel='stylesheet' type='text/css' href='/static/css/style.css' />
    {% endblock %}

    {% block style %}
    {% endblock %}


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30237258-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script id="tributary_loader" type="text/javascript"></script>
    </head>
<body>

<div id='page'>
    {% block chrome %}
    <div id="header">
        <div id="branding">
        {% block branding%}
        {% endblock %}
        </div> 
        <div id="gist_info"></div>
        <div id="save_gui"> 
            {% if not loggedin %}
            anon
            <button id='loginPanel' class="button_on"> Login </button>
            {% else %}
            <a href="http://github.com/{{ username }}">{{ username }}</a>
            <button id='loginPanel' class="button_on"> Logout </button>
            {% endif %}

            <button id='savePanel' class="button_on">
                Save
            </button>

            <button id='forkPanel' class="button_on">
                Fork
            </button>

            <div id="show-codepanel" style="display: none;">
                <button id="show-codepanel-button" class="button_on">Show Code Panel</button>
            </div>

        </div>
    
    <br>
    </div>
    <img id="syncing" src="/static/img/syncing.gif"/>
    {% endblock %}

    <!-- main tributary UI skeleton -->
    <div id="display">
    </div>
    <div id="controls"></div>    
    <div id="panel_handle"></div>
    <div id="panelfiles_gui">
        <div id="files"></div>        
    </div>
    <div id="panel">

        <div id="edit"></div>
        <div id="config">
            
            <div id="require">

            </div>
        </div>
    </div>
    
    <div id="panel_gui">
        <span id="hide-panel">
            <button id="hide-panel-button">X</button>
        </span>
    </div>
    <div id="slider"></div>

</div>

    
    
    <!-- Essential 3rd party libraries -->
    <script src="/static/lib/d3.v2.min.js"></script>
    <script src="/static/lib/jquery-1.7.min.js"></script>
    <script src="/static/lib/underscore-min.js"></script>
    <script src="/static/lib/underscore.math.js"></script>
    <script src="/static/lib/backbone-min.js"></script>
    <script src="/static/lib/coffee-script.js"></script>
    <script src="/static/lib/require.js"></script>
    <script src='/static/lib/three.min.js'></script>
    <script src="/static/lib/Stats.js"></script>

 
    <!-- CodeMirror -->
    <script src="/static/lib/CodeMirror2/lib/codemirror.js"></script>
    <script src="/static/lib/CodeMirror2/lib/util/searchcursor.js"></script>
    <script src="/static/lib/CodeMirror2/mode/javascript/javascript.js"></script>
    <script src="/static/lib/CodeMirror2/mode/coffeescript/coffeescript.js"></script>
    <script src="/static/lib/CodeMirror2/keymap/vim.js"></script>
    <script src="/static/lib/CodeMirror2/keymap/emacs.js"></script>

    <!-- UI components TODO: replace with pure d3 -->
    <script src="/static/lib/jquery-ui.1.8.16.custom.min.js"></script>
    <script src='/static/lib/slider/js/jquery.ui.slider.js'></script>
    <!-- https://github.com/mudcube/Color-Picker -->
    <script src="/static/lib/colorpicker/Color.Picker.Classic.js" type="text/javascript"></script> 
    <script src="/static/lib/colorpicker/Color.Space.js" type="text/javascript"></script> 
    <script src="/static/lib/dat.gui.min.js"></script>

    <!-- Tributary -->
    <script src="/static/lib/inlet.js"></script>
    <script src='/static/tributary.js?v=0.52'></script>

    
    <script type="text/javascript">
        var tb = Tributary();
        //provide global trib object
        tb.loggedin = "{{ loggedin }}" === "True";
        tb.username = "{{ username }}";
        tb.avatar = "{{ avatar }}";
        tb.userid = parseInt("{{ userid }}");
        tb.userurl = "{{ userurl }}";
    </script>



    <!--
    <script src='/static/trib.js'></script>
    -->
    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">

    //get rid of selection when dragging things
    if(typeof document.body.style.MozUserSelect!="undefined")
        document.body.style.MozUserSelect="none";
    else if(typeof document.body.onselectstart!="undefined")
        document.body.onselectstart=function(){return false};
    else
        document.body.onmousedown=function(){return false};
    document.body.style.cursor = "default";

    {% block jsinit %}
    {% endblock %}

    tb.ui.setup();
    //assemble the UI
    tb.ui.assemble("{{gist}}");

    </script>
<!--
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
-->
</body>
</html>
