
{% extends "base.html" %}


{% block title %}Cypress{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/cypress.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/views/cypress.js'></script>
{% endblock %}

{% block branding %}
	<h1>Cypress</h1>
{% endblock %}



{% block gui %}
    <div id="gui">
        <button id="play_button" class="button minimal">Play</button>

<!--        <div id="off_button" class="select button">Off</div> 
        Temporarily hiding "off" button- unless it serves a purpose I'm unaware of, user should probably use the "play/stop" button instead
        <button id="period_button" class="select button minimal">Loop</button>
        <button id="pingpong_button" class="select button minimal">PingPong</button>
-->
    </div>
    <div id='display'>
        <canvas id="cypresscanvas" class="tributary_canvas"></canvas>
    </div>

{% endblock %}


{% block jsinit %}
    var model = new tributary.Cypress({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":model, "endpoint":"cypress"})

    window.onresize = function(event) {
        resize();
        model.trigger("execute")
    }
{% endblock %}
