
{% extends "base.html" %}


{% block title %}Delta{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/delta.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/delta.js'></script>
{% endblock %}

{% block branding %}
	<h1>Delta</h1>
{% endblock %}



{% block gui %}
    <div id="gui2">
        <button id="bv_button" class="button minimal" >BV</button>
<!--        <div id="off_button" class="select button">Off</div> 
        Temporarily hiding "off" button- unless it serves a purpose I'm unaware of, user should probably use the "play/stop" button instead
-->
        <button id="period_button" class="select button minimal">Loop</button>
        <button id="pingpong_button" class="select button minimal">PingPong</button>
    </div>
    <div id="gui">
        <button id="play_button" class="button minimal">Play</button>
        <div id="time_slider"></div>
    </div>
    <div id='display'>
        <svg id="deltasvg" class="tributary_svg"></svg>
    </div>

{% endblock %}


{% block jsinit %}
    trib = new tributary.Delta({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":trib, "endpoint":"delta"})

    window.onresize = function(event) {
        trib.trigger("execute")
    }
{% endblock %}
