{% extends "base.html" %}


{% block title %}Flow{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/flow.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/views/flow.js'></script>
{% endblock %}

{% block branding %}
	<h1>Flow</h1>
{% endblock %}



{% block gui %}

    <div id='display'>
        <svg class="tributary_svg" id="flowsvg"></svg>
    </div>

    <svg id="flowgram"></svg>

    <div id="gui">
        <button class="minimal" id="play_button" style="opacity: 0.3;">Play</button>
    </div>

{% endblock %}


{% block jsinit %}
    var model = new tributary.Flow({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":model, "endpoint":"flow"})
    window.onresize = function(event) {
        resize();
        model.trigger("execute")
    }
{% endblock %}
