{% extends "base.html" %}


{% block title %}Flow{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/flow.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/flow.js'></script>
{% endblock %}

{% block branding %}
	<h1>Flow</h1>
{% endblock %}



{% block gui %}

    <div id='display'>
        <svg id="flowsvg" style='width: 96%; height: 96%; padding: 2%'></svg>
    </div>

    <svg id="flowgram"></svg>

    <div id="gui">
        <button class="minimal" id="play_button" style="opacity: 0.3;">Play</div>
    </div>

{% endblock %}


{% block jsinit %}
    trib = new tributary.Flow({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":trib, "endpoint":"flow"})
    window.onresize = function(event) {
        trib.trigger("execute")
    }
{% endblock %}
