{% extends "base.html" %}


{% block title %}Geyser{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/geyser.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/geyser.js'></script>
{% endblock %}

{% block branding %}
	<h1>Geyser</h1>
{% endblock %}



{% block gui %}
    <div id='display'>
            <svg id="geysersvg" style='width: 96%; height: 96%; padding: 2%'></svg>
        </div>

        <svg id="geysergram"></svg>

        <svg id="geyserpad"></svg>

        <div id="gui">
            <button class="minimal" id="play_button" style="opacity: 0.3;">Play</div>
        </div>

{% endblock %}


{% block jsinit %}
    trib = new tributary.Geyser({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":trib, "endpoint":"geyser"})
    window.onresize = function(event) {
        trib.trigger("execute")
    }
{% endblock %}
