<!DOCTYPE html>
<html>
  <head>
      <title>Tributary</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

  </head>
  <body>

    <div id="intro" class="tributary text" style="width: 450px; height: 200px;">
        <h3><a href="https://github.com/enjalot/tributary" title="Fork it on Github!">Tributary</a></h3>
        Tributary started with the idea of making responsive code easier to share. We started with <a href="http://gabrielflor.it/water">Gabriel Florit's implementation</a> of 
        <a href="http://www.youtube.com/watch?v=PUv66718DII">Bret Victor's talk</a>. 
        The use of gists to drive the code in the view comes from Mike Bostock's <a href="http://bl.ocks.org">bl.ocks.org</a>. 
        Tributary works by evaluating your code, providing a few things such as an svg element and a few libraries for the code to use. <!-- More assumptions are made in the experimental sub projects Delta, Flow and Geyser.-->
    </div>
    
    <div id="features" class="tributary text" style="width: 450px; height: 200px;">
        <h3>Features</h3>
        Tributary comes with <a href="http://jquery.com/">jQuery</a>, 
        <a href="http://mbostock.github.com/d3/"> d3</a>, 
        <a href="http://documentcloud.github.com/underscore/">underscore</a> and 
        <a href="http://backbonejs.org/">backbone</a> available in the code editor. The editor is powered by 
        <a href="http://codemirror.net/">CodeMirror</a>, jQuery UI and <a href="https://github.com/mudcube/Color-Picker">ColorPicker</a>

        <br>
    </div>
	
  </body>
</html>
