
{% extends "base.html" %}


{% block title %}RepTile{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/tributary.css' />
{% endblock %}

{% block scripts %}
    <script src='/static/views/reptile.js'></script>
{% endblock %}

{% block branding %}
	<h1>RepTile</h1>
{% endblock %}



{% block gui %}
    <div id="gui">

<!--        <div id="off_button" class="select button">Off</div> 
        Temporarily hiding "off" button- unless it serves a purpose I'm unaware of, user should probably use the "play/stop" button instead
        <button id="period_button" class="select button minimal">Loop</button>
        <button id="pingpong_button" class="select button minimal">PingPong</button>
-->
    </div>
    <div id='display'>
        <svg id="reptilesvg" class="tributary_svg"></svg>
    </div>

{% endblock %}


{% block jsinit %}
    model = new tributary.Reptile({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":model, "endpoint":"reptile"})

    tributary.g_width = 400;//tributary.sw/3;
    tributary.g_height = 400;//tributary.sh/3;


    tributary.make_clones();

    window.onresize = function(event) {
        resize();
        model.trigger("execute")
        //tributary.layout()
        tributary.make_clones();
    }
{% endblock %}
