<!doctype html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    
    <meta charset='utf-8' />
    <title>Tributary</title>
    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <!--
    <link rel='stylesheet' type='text/css' href='{{base_url}}css/water.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/tributary.css' />
    -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <style>

    

    </style>
    <script type="text/javascript">
        window.tributary = {}
        var tributary = window.tributary
        var trib;
        //window.tributary.gist = "{{gist}}";
        //window.tributary.filename = "{{filename}}";
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30237258-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    </head>
<body>

   
    <div id='page'>
        <div id='display'>
            <svg></svg>
        </div>
    </div>

    <script src="/static/lib/jquery-1.7.min.js"></script>
    <script src="/static/lib/jquery-ui.1.8.16.custom.min.js"></script>
    <script src='/static/lib/jquery.hotkeys.js'></script>

    <!-- 3rd party libraries -->
    <script src="/static/lib/d3.v2.min.js"></script>
    <script src="/static/lib/underscore-min.js"></script>
    <script src="/static/lib/backbone-min.js"></script>
    <script src="/static/lib/jwerty.js"></script>

    <!--
    <script src='/static/trib.js'></script>
    -->
    <script src='/static/tributary.js'></script>
   <!--
    <script src='http://requirejs.org/docs/release/1.0.7/minified/require.js'></script>
    -->
    <script type="text/javascript">
        //from the SO thread: http://stackoverflow.com/questions/950087/include-javascript-file-inside-javascript-file
        //caching so we don't download every keystroke
        var required_scripts = []
        function script(src) {
            if(_.include(required_scripts, src))
                return true;

            $.ajax({
                url: src,
                dataType: "script",
                async: false,           // this is the key
                success: function () {
                    // all good...
                    //console.log("success")
                    required_scripts.push(src)
                },
                error: function () {
                    throw new Error("Could not load script " + src);
                }
            });
        }
    </script>
    <script type="text/javascript">

    trib = new tributary.Tributary({"gist":"{{gist}}", "filename":"{{filename}}"})

    //get the code
    trib.get_code(function(error, code) {
        //execute the new code onse we get it
        trib.newcode(code);         
    })

    window.onresize = function(event) {
        trib.trigger("execute")
    }

    //tribView = new tributary.TributaryView({"model":trib})

    </script>
<!--
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    -->
</body>
</html>
