{% extends "base.html" %}


{% block title %}Tributary{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='/static/css/tributary.css' />
{% endblock %}

{% block gui %}
    <div id='display'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="tributary_svg"></svg>
    </div>
{% endblock %}


{% block branding %}
	<h1>Tributary</h1>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block jsinit %}
    model = new tributary.Tributary({"gist":"{{gist}}", "filename":"{{filename}}"})
    tribView = new tributary.TributaryView({"model":model})

    window.onresize = function(event) {
        resize();
        model.trigger("execute")
    }
{% endblock %}
