<div class=displaycontrols>
  <span class=config_title>Display:</span>
  {{#each displays}}

  {{/each}}
</div>

<div class=timecontrols>
  <span class=config_title>Time Controls:</span>
  {{#each timecontrols}}

  {{/each}}
</div>

<div class="requirecontrols">
  <span class=config_title>External Scripts:</span>
  {{#each timecontrols}}
    
  {{/each}}
</div>



