<div class="toolbar hidden">
  <label>default<input type="radio" class="radio" name="editmode" value="default" {{#if default}}checked{{/if}}></input></label>
  <label>vim<input type="radio" class="radio" name="editmode" value="vim" {{#if vim}}checked{{/if}}></input></label>
  <label>emacs<input type="radio" class="radio" name="editmode" value="emacs" {{#if emacs}}checked{{/if}}></input></label>

  <button value="delete" class="delete">remove</button>
</div>

<div class="settings">
S
</div>
