<div class="toolbar hidden">
  <label>default<input type="radio" class="radio" name="editmode" value="default" {{#if default}}checked{{/if}}></input></label>
  <label>vim<input type="radio" class="radio" name="editmode" value="vim" {{#if vim}}checked{{/if}}></input></label>
  <label>emacs<input type="radio" class="radio" name="editmode" value="emacs" {{#if emacs}}checked{{/if}}></input></label>

  <button value="delete" id="delete-file"><img src="/static/img/remove@2x.png" style="width: 14px; height: 14px;" /></button>
</div>

<div class="settings">
<img src="/static/img/settings@2x.png" style="width: 14px; height: 14px;" />
</div>
