{{#each contexts}}
  <li class="file filetype-{{this.type}}" data-filename={{this.filename}}>
      {{this.filename}}

    <i class="icon-cancel delete-file"></i>
  </li>
{{/each}}

<li class="add-file"> 
  + 
  <input type=text style="display:none;"></input>
</li>


