{{#each contexts}}
  <div class=fv data-filename={{this.filename}}>
      {{this.filename}}
    <button value="delete" class="delete-file"><img src="/static/img/remove@2x.png" style="width: 14px; height: 14px;" /></button>
  </div>
{{/each}}

<div class="plus">
    + <input type=text style=display:none></input>
</div>


