{{#each contexts}}
  <div class=fv data-filename={{this.filename}}>
      {{this.filename}}
    <!-- TODO: delete files <div class=config delete>x</div> -->
  </div>
{{/each}}

<div class="plus">
    + <input type=text style=display:none></input>
</div>


