<div class="tb_paneltopbar">
  <div class="tb_panelfiles_gui">
    <div class="tb_files">
    </div>
  </div>
</div>

<div class="tb_edit panel">
</div>

<div class="tb_config panel">
</div>

<div class="tb_panelbottombar">
  <div class="tb_panel_gui">
      <span class="tb_hide-panel">
        <button class="tb_hide-panel-button">X</button>
      </span>
  </div>
</div>

